#mc_embed_signup .mc-field-group input {
	text-indent: 10px !important;
	padding: 12px 0 !important;
	border-radius: 5px !important;
}
.greenbutton {
	background-color: #80ba3f !important;
	border-radius: 5px !important;
	padding: 5px 30px !important;
	height: 100% !important;
	text-shadow: none !important;
}
.blacktext {
	color: black !important;
}
#header, #header.sticky-header #header-wrap {
	background-color: #299fd6;
	border: 0;
}
#primary-menu ul li a {
	color: black;
}
.slider .one-page-arrow{
	bottom: -50px;
}
.slider .RotatingWords-CaptionBlack {
	color: black;
	font-weight: 300;
}
#about .panel-body, #team .panel-body {
	font-size: 1.3em !important;
}
#about h3 {
	text-indent: 20px;
}
#about img {
	margin-top: 16px;
}
#about .tripleline img {
	margin-top: 27px;
}
#mc_embed_signup .mc-field-group {
	padding-bottom: 1% !important;
}
.panel, #mc_embed_signup .mc-field-group input {
	border: 5px solid black;
	border-radius: 10px;
}
#newsletter {
	background-color: #f7d29d;
}
#newsletter h2 {
	padding: 15px 0;
}
.socialmediabar img {
	padding: 0 8px;
}
.socialmediabar h3 {
	padding: 0 8px;
}
#gallery h3 {
	font-size: 5em;
	color: #7e8380;
}
#gallery span {
	font-size: 2em;
}
#team {
	background-color: #f7f18f;
}
#team img {
	border-radius: 50%;
	border: 5px solid black;
	width: 150%;
	max-width: 150%;
	margin-top: 23.5px;
	margin-left: 34px;
}
#team .panel {
	z-index: -1;
}
#team .panel-body {
	padding-left: 45px !important;
}
#team .jointeam {
	padding: 23.5px 15px;
}
#team .jointeamhead {
	font-size: 1.4em;
}
#footer, #copyrights {
	border-top: 0;
	background-color: #299fd6 !important;
	color: black;
}
/*Mobile CSS*/
@media (max-width: 767px) {
.slider .one-page-arrow {
	display: block !important;
}
#about h3 {
	text-align: center;
	text-indent: 0;
	margin-bottom: 5px;
}
#about .col-md-1 {
	text-align: center;
}
#about img {
	width: 50%;
}
#about .panel {
	margin-bottom: 30px;
	padding-right: 5px;
	padding-left: 5px;
}
#about .panel-body, #team .panel-body {
	font-size:  1em !important;
}
#newsletter {
	margin-top: 0;
	padding-top: 0;
}
#mc_embed_signup .mc-field-group {
	padding-bottom: 3% !important;
}
#mc_embed_signup .size1of2 {
	width: 96% !important;
}
.socialmediabar img {
	padding: 0 4px;
}
#gallery .row {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#gallery h3 {
	font-size: 2em;
	font-weight: 600;
}
#gallery span {
	font-size: 1.5em;
	padding: 0 10px;
}
#gallery .heading-block {
	margin-bottom: 50px !important;
}
#team {
	margin-top: 0;
	padding: 20px 0;
}
#team .panel {
	margin-bottom: 10px;
	padding-right: 5px;
}
#team .panel-body {
	padding-right: 0;
	padding-left: 35px;
}
#team img {
	max-width: 400%;
	width: 400%;
	margin-left: -4px;
	margin-top: 27px;
}
#team .jointeam {
	padding-top: 21px;
	padding-bottom: 21px;
}
#team .teamshort img {
	margin-top: 19px;
}
}